<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Task#3</title>
        <!---->
        <link rel="stylesheet" type="text/css" href="../style/style.css">
        <script src="../js/main.js" ></script>
    </head>
    <body>

      <div class="Header_">
        <article>
          <header>
            <h1>Task #3</h1>
          </header>
        </article>
      </div>

        <div id="gallery">


            <div class="f_layout">

                <div class="f">
                    <p>Reviews: </p><p class="ratingRevievs"></p>
                    <p>Price: </p><p class="oldprice"></p>
                    <p class="newprice"></p>
                    <p>Name: </p><p class="name"></p>
                </div>

                <div class="f">
                    <p>Reviews: </p><p class="ratingRevievs1"></p>
                    <p>Price: </p><p class="oldprice1"></p>
                    <p>Name: </p><p class="name1"></p>
                </div>

                <div class="f">
                    <p>Reviews: </p><p class="ratingRevievs2"></p>
                    <p>Price: </p><p class="oldprice2"></p>
                    <p>Name: </p><p class="name2"></p>
                </div>

                <div class="f">
                    <p>Reviews: </p><p class="ratingRevievs3"></p>
                    <p>Price: </p><p class="oldprice3"></p>
                    <p>Name: </p><p class="name3"></p>
                </div>
            </div>

            <div class="s_layout">

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs4"></p>
                    <p>Price: </p><p class="oldprice4"></p>
                    <p>Name: </p><p class="name4"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs5"></p>
                    <p>Price: </p><p class="oldprice5" id="o_p"></p>
                    <p class="newprice5" id="n_p"></p>
                    <p>Name: </p><p class="name5"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs6"></p>
                    <p>Price: </p><p class="oldprice6" id="o_p" ></p>
                    <p class="newprice6" id="n_p"></p>
                    <p>Name: </p><p class="name6"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs7"></p>
                    <p>Price: </p><p class="oldprice7" ></p>
                    <p>Name: </p><p class="name7"></p>
                </div>

            </div>
            <div class="t_layout">

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs8"></p>
                    <p>Price: </p><p class="oldprice8"></p>
                    <p>Name: </p><p class="name8"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs9"></p>
                    <p>Price: </p><p class="oldprice9"></p>
                    <p>Name: </p><p class="name9"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs10"></p>
                    <p>Price: </p><p class="oldprice10"></p>
                    <p>Name: </p><p class="name10"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs11"></p>
                    <p>Price: </p><p class="oldprice11" id="o_p" ></p>
                    <p class="newprice11" id="n_p"></p>
                    <p>Name: </p><p class="name11"></p>
                </div>
            </div>

            <div class="fo_layout">

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs12"></p>
                    <p>Price: </p><p class="oldprice12"></p>
                    <p>Name: </p><p class="name12"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs13"></p>
                    <p>Price: </p><p class="oldprice13"></p>
                    <p>Name: </p><p class="name13"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs14"></p>
                    <p>Price: </p><p class="oldprice14"></p>
                    <p>Name: </p><p class="name14"></p>
                </div>

                <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs15"></p>
                    <p>Price: </p><p class="oldprice15"></p>
                    <p>Name: </p><p class="name15"></p>
                </div>
            </div>

            <div class="fi_layout">

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs16"></p>
                  <p>Price: </p><p class="oldprice16"></p>
                  <p>Name: </p><p class="name16"></p>
              </div>

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs17"></p>
                  <p>Price: </p><p class="oldprice17"></p>
                  <p>Name: </p><p class="name17"></p>
              </div>

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs18"></p>
                  <p>Price: </p><p class="oldprice18" id="o_p" ></p>
                  <p class="newprice18" id="n_p"></p>
                  <p>Name: </p><p class="name18"></p>
              </div>

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs19"></p>
                  <p>Price: </p><p class="oldprice19"></p>
                  <p>Name: </p><p class="name19"></p>
              </div>

            </div>

            <div class="s_layout">

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs20"></p>
                  <p>Price: </p><p class="oldprice20"></p>
                  <p>Name: </p><p class="name20"></p>
              </div>

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs21"></p>
                  <p>Price: </p><p class="oldprice21" id="o_p" ></p>
                  <p class="newprice21" id="n_p"></p>
                  <p>Name: </p><p class="name21"></p>
              </div>

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs22"></p>
                  <p>Price: </p><p class="oldprice22"></p>
                  <p>Name: </p><p class="name22"></p>
              </div>

              <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs23"></p>
                  <p>Price: </p><p class="oldprice23"></p>
                  <p>Name: </p><p class="name23"></p>
              </div>

            </div>

            <div class="se_layout">

                <div class="s">
                      <p>Reviews: </p><p class="ratingRevievs24"></p>
                      <p>Price: </p><p class="oldprice24"></p>
                      <p>Name: </p><p class="name24"></p>
                </div>

                <div class="s">
                  <p>Reviews: </p><p class="ratingRevievs25"></p>
                  <p>Price: </p><p class="oldprice25" id="o_p" ></p>
                  <p class="newprice25" id="n_p"></p>
                  <p>Name: </p><p class="name25"></p>
                </div>

                <div class="s">
                      <p>Reviews: </p><p class="ratingRevievs26"></p>
                      <p>Price: </p><p class="oldprice26"></p>
                      <p>Name: </p><p class="name26"></p>
                </div>

                <div class="s">
                      <p>Reviews: </p><p class="ratingRevievs27"></p>
                      <p>Price: </p><p class="oldprice27"></p>
                      <p>Name: </p><p class="name27"></p>
                </div>

            </div>

            <div class="e_layout">

                  <div class="s">
                      <p>Reviews: </p><p class="ratingRevievs28"></p>
                      <p>Price: </p><p class="oldprice28"></p>
                      <p>Name: </p><p class="name28"></p>
                  </div>

                  <div class="s">
                      <p>Reviews: </p><p class="ratingRevievs29"></p>
                      <p>Price: </p><p class="oldprice29"></p>
                      <p>Name: </p><p class="name29"></p>
                  </div>

                  <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs30"></p>
                    <p>Price: </p><p class="oldprice30" id="o_p" ></p>
                    <p class="newprice30" id="n_p"></p>
                    <p>Name: </p><p class="name30"></p>
                  </div>

                  <div class="s">
                    <p>Reviews: </p><p class="ratingRevievs31"></p>
                    <p>Price: </p><p class="oldprice31" id="o_p" ></p>
                    <p class="newprice31" id="n_p"></p>
                    <p>Name: </p><p class="name31"></p>
                  </div>

            </div>
        </div>

        <div class="Footer_">
          <article class="">
            <footer>
              <p>&copy; 2020 All rights reserved<p>
            </footer>
          </article>


        </div>
        <script>
            document.querySelector("div.f p.ratingRevievs").innerHTML = Array[0].ratingRevievs;
            document.querySelector("div.f p.oldprice").innerHTML =      Array[0].price.oldUan;
            document.querySelector("div.f p.oldprice").innerHTML =      Array[0].price.oldUan;
            document.querySelector("div.f p.newprice").innerHTML =      Array[0].price.newUan;
            document.querySelector("div.f p.name").innerHTML =          Array[0].name;

            document.querySelector("div.f p.ratingRevievs1").innerHTML = Array[1].ratingRevievs;
            document.querySelector("div.f p.oldprice1").innerHTML =      Array[1].price;
            document.querySelector("div.f p.name1").innerHTML =          Array[1].name;

            document.querySelector("div.f p.ratingRevievs2").innerHTML = Array[2].ratingRevievs;
            document.querySelector("div.f p.oldprice2").innerHTML =      Array[2].price;
            document.querySelector("div.f p.name2").innerHTML =          Array[2].name;

            document.querySelector("div.f p.ratingRevievs3").innerHTML = Array[3].ratingRevievs;
            document.querySelector("div.f p.oldprice3").innerHTML =      Array[3].price;
            document.querySelector("div.f p.name3").innerHTML =          Array[3].name;

            document.querySelector("div.s p.ratingRevievs4").innerHTML = Array[4].ratingRevievs;
            document.querySelector("div.s p.oldprice4").innerHTML =      Array[4].price;
            document.querySelector("div.s p.name4").innerHTML =          Array[4].name;

            document.querySelector("div.s p.ratingRevievs4").innerHTML = Array[4].ratingRevievs;
            document.querySelector("div.s p.oldprice4").innerHTML =      Array[4].price;
            document.querySelector("div.s p.name4").innerHTML =          Array[4].name;

            document.querySelector("div.s p.ratingRevievs5").innerHTML = Array[5].ratingRevievs;
            document.querySelector("div.s p.oldprice5").innerHTML =      Array[5].price.oldUan;
            document.querySelector("div.s p.oldprice5").innerHTML =      Array[5].price.oldUan;
            document.querySelector("div.s p.newprice5").innerHTML =      Array[5].price.newUan;
            document.querySelector("div.s p.name5").innerHTML =          Array[5].name;

            document.querySelector("div.s p.ratingRevievs6").innerHTML = Array[6].ratingRevievs;
            document.querySelector("div.s p.oldprice6").innerHTML =      Array[6].price.oldUan;
            document.querySelector("div.s p.oldprice6").innerHTML =      Array[6].price.oldUan;
            document.querySelector("div.s p.newprice6").innerHTML =      Array[6].price.newUan;
            document.querySelector("div.s p.name6").innerHTML =          Array[6].name;

            document.querySelector("div.s p.ratingRevievs7").innerHTML = Array[7].ratingRevievs;
            document.querySelector("div.s p.oldprice7").innerHTML =      Array[7].price;
            document.querySelector("div.s p.name7").innerHTML =          Array[7].name;

            document.querySelector("div.s p.ratingRevievs8").innerHTML = Array[8].ratingRevievs;
            document.querySelector("div.s p.oldprice8").innerHTML =      Array[8].price;
            document.querySelector("div.s p.name8").innerHTML =          Array[8].name;

            document.querySelector("div.s p.ratingRevievs9").innerHTML = Array[9].ratingRevievs;
            document.querySelector("div.s p.oldprice9").innerHTML =      Array[9].price;
            document.querySelector("div.s p.name9").innerHTML =          Array[9].name;

            document.querySelector("div.s p.ratingRevievs10").innerHTML = Array[10].ratingRevievs;
            document.querySelector("div.s p.oldprice10").innerHTML =      Array[10].price;
            document.querySelector("div.s p.name10").innerHTML =          Array[10].name;

            document.querySelector("div.s p.ratingRevievs11").innerHTML = Array[11].ratingRevievs;
            document.querySelector("div.s p.oldprice11").innerHTML =      Array[11].price.oldUan;
            document.querySelector("div.s p.oldprice11").innerHTML =      Array[11].price.oldUan;
            document.querySelector("div.s p.newprice11").innerHTML =      Array[11].price.newUan;
            document.querySelector("div.s p.name11").innerHTML =          Array[11].name;

            document.querySelector("div.s p.ratingRevievs12").innerHTML = Array[12].ratingRevievs;
            document.querySelector("div.s p.oldprice12").innerHTML =      Array[12].price;
            document.querySelector("div.s p.name12").innerHTML =          Array[12].name;

            document.querySelector("div.s p.ratingRevievs13").innerHTML = Array[13].ratingRevievs;
            document.querySelector("div.s p.oldprice13").innerHTML =      Array[13].price;
            document.querySelector("div.s p.name13").innerHTML =          Array[13].name;

            document.querySelector("div.s p.ratingRevievs14").innerHTML = Array[14].ratingRevievs;
            document.querySelector("div.s p.oldprice14").innerHTML =      Array[14].price;
            document.querySelector("div.s p.name14").innerHTML =          Array[14].name;

            document.querySelector("div.s p.ratingRevievs15").innerHTML = Array[15].ratingRevievs;
            document.querySelector("div.s p.oldprice15").innerHTML =      Array[15].price;
            document.querySelector("div.s p.name15").innerHTML =          Array[15].name;

            document.querySelector("div.s p.ratingRevievs16").innerHTML = Array[16].ratingRevievs;
            document.querySelector("div.s p.oldprice16").innerHTML =      Array[16].price;
            document.querySelector("div.s p.name16").innerHTML =          Array[16].name;

            document.querySelector("div.s p.ratingRevievs17").innerHTML = Array[17].ratingRevievs;
            document.querySelector("div.s p.oldprice17").innerHTML =      Array[17].price;
            document.querySelector("div.s p.name17").innerHTML =          Array[17].name;

            document.querySelector("div.s p.ratingRevievs18").innerHTML = Array[18].ratingRevievs;
            document.querySelector("div.s p.oldprice18").innerHTML =      Array[18].price.oldUan;
            document.querySelector("div.s p.oldprice18").innerHTML =      Array[18].price.oldUan;
            document.querySelector("div.s p.newprice18").innerHTML =      Array[18].price.newUan;
            document.querySelector("div.s p.name18").innerHTML =          Array[18].name;


            document.querySelector("div.s p.ratingRevievs19").innerHTML = Array[19].ratingRevievs;
            document.querySelector("div.s p.oldprice19").innerHTML =      Array[19].price;
            document.querySelector("div.s p.name19").innerHTML =          Array[19].name;

            document.querySelector("div.s p.ratingRevievs20").innerHTML = Array[20].ratingRevievs;
            document.querySelector("div.s p.oldprice20").innerHTML =      Array[20].price;
            document.querySelector("div.s p.name20").innerHTML =          Array[20].name;


            document.querySelector("div.s p.ratingRevievs21").innerHTML = Array[21].ratingRevievs;
            document.querySelector("div.s p.oldprice21").innerHTML =      Array[21].price.oldUan;
            document.querySelector("div.s p.oldprice21").innerHTML =      Array[21].price.oldUan;
            document.querySelector("div.s p.newprice21").innerHTML =      Array[21].price.newUan;
            document.querySelector("div.s p.name21").innerHTML =          Array[21].name;


            document.querySelector("div.s p.ratingRevievs22").innerHTML = Array[22].ratingRevievs;
            document.querySelector("div.s p.oldprice22").innerHTML =      Array[22].price;
            document.querySelector("div.s p.name22").innerHTML =          Array[22].name;

            document.querySelector("div.s p.ratingRevievs23").innerHTML = Array[23].ratingRevievs;
            document.querySelector("div.s p.oldprice23").innerHTML =      Array[23].price;
            document.querySelector("div.s p.name23").innerHTML =          Array[23].name;

            document.querySelector("div.s p.ratingRevievs24").innerHTML = Array[24].ratingRevievs;
            document.querySelector("div.s p.oldprice24").innerHTML =      Array[24].price;
            document.querySelector("div.s p.name24").innerHTML =          Array[24].name;

            document.querySelector("div.s p.ratingRevievs25").innerHTML = Array[25].ratingRevievs;
            document.querySelector("div.s p.oldprice25").innerHTML =      Array[25].price.oldUan;
            document.querySelector("div.s p.oldprice25").innerHTML =      Array[25].price.oldUan;
            document.querySelector("div.s p.newprice25").innerHTML =      Array[25].price.newUan;
            document.querySelector("div.s p.name25").innerHTML =          Array[25].name;

            document.querySelector("div.s p.ratingRevievs26").innerHTML = Array[26].ratingRevievs;
            document.querySelector("div.s p.oldprice26").innerHTML =      Array[26].price;
            document.querySelector("div.s p.name26").innerHTML =          Array[26].name;

            document.querySelector("div.s p.ratingRevievs27").innerHTML = Array[27].ratingRevievs;
            document.querySelector("div.s p.oldprice27").innerHTML =      Array[27].price;
            document.querySelector("div.s p.name27").innerHTML =          Array[27].name;

            document.querySelector("div.s p.ratingRevievs28").innerHTML = Array[28].ratingRevievs;
            document.querySelector("div.s p.oldprice28").innerHTML =      Array[28].price;
            document.querySelector("div.s p.name28").innerHTML =          Array[28].name;

            document.querySelector("div.s p.ratingRevievs29").innerHTML = Array[29].ratingRevievs;
            document.querySelector("div.s p.oldprice29").innerHTML =      Array[29].price;
            document.querySelector("div.s p.name29").innerHTML =          Array[29].name;

            document.querySelector("div.s p.ratingRevievs30").innerHTML = Array[30].ratingRevievs;
            document.querySelector("div.s p.oldprice30").innerHTML =      Array[30].price.oldUan;
            document.querySelector("div.s p.oldprice30").innerHTML =      Array[30].price.oldUan;
            document.querySelector("div.s p.newprice30").innerHTML =      Array[30].price.newUan;
            document.querySelector("div.s p.name30").innerHTML =          Array[30].name;

            document.querySelector("div.s p.ratingRevievs31").innerHTML = Array[31].ratingRevievs;
            document.querySelector("div.s p.oldprice31").innerHTML =      Array[31].price.oldUan;
            document.querySelector("div.s p.oldprice31").innerHTML =      Array[31].price.oldUan;
            document.querySelector("div.s p.newprice31").innerHTML =      Array[31].price.newUan;
            document.querySelector("div.s p.name31").innerHTML =          Array[31].name;


            //STYLE--------------------START
            document.getElementById("gallery").style.backgroundColor = "rgb(223, 154, 255)";


            //STYLE--------------------END
        </script>
    </body>

</html>
